.menu
{
    float: left;
    width: 150px;
    background-color: #FFF5B2; /* yellow */
}
.steps
{
    float: right;
    width: 200px;
    background-color: #89B255; /* green */
}
.main
{
    margin-left: 150px;
    margin-right: 200px;
    background-color: #86A4FF; /* blue */
}
#header, #footer
{
    background-color: #FFB39F; /* peach */
}
#footer
{
    clear: right;
    text-align: center;
}
